# dependencies
node_modules/

# build
dist/
build/

# env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/
.idea/

# OS
.DS_Store

# cache (mongodb-memory-server binaries)
.cache/

# playwright reports
playwright-report/
test-results/

api-doc.md
ARCHITECTURE.md
project.md
process.md
./github/agents

terraform-sa-key.json